
/* Get Weather Form Module */
#location-input {
    background-color: rgba(28, 79, 118, 0.302);
    margin: 10px;
    padding: 3px;
    border: solid 0px;
    border-radius: 4px;
}

button {
    color: rgb(255, 255, 255);
    border: none;
    background: none;
}

/* Current Weather Module */

.current-weather-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.current-weather-ticket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.city-name {
    font-size: 2rem;
    font-weight: 300;
}

.current-temp {
    font-size: 3.5rem;
    font-weight: 200;
}

.min-max-container {
    display: flex;
    font-size: .9rem;
}

.max-temp, .min-temp {
    margin: 2px
}

/* Hourly Forecast Module */

.hourly-forecast-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.hourly-forecast {
    background-color: rgba(28, 79, 118, 0.302);
    width: 90%;
    border-radius: 12px;
    opacity: 0;
}

.hourly-forecast-header {
    color: rgba(28, 79, 118);
    font-size: .9rem;
    font-weight: 300;
    margin: 2px 7px 2px 7px;
    border-bottom: solid .5px rgba(28, 79, 118);
}

.hourly-forecast-ticket-container {
    display: flex;
    overflow: scroll;
}

.hourly-forecast-ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 10px;
}

.hourly-forecast-ticket-time {
    display: flex;
    justify-content: center;
    color: white;
    font-size: .8rem;
}

.hourly-forecast-ticket-icon {
    display: flex;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 40px;
    width: 30px;
}

.clear-sky.day {
    background-image: url(./weather-icons/sun.png);
}

.clear-sky.night {
    background-image: url(./weather-icons/clear-sky-night.png);
}

.partially-cloudy.day {
    background-image: url(./weather-icons/partially-cloudy.png);
}

.partially-cloudy.night {
    background-image: url(./weather-icons/partially-cloudy-night.png);
}

.cloudy {
    background-image: url(./weather-icons/cloudy.png);
}

.raining {
    background-image: url(./weather-icons/raining.png);
}

.snowing {
    background-image: url(./weather-icons/snowing.png);
}

.storm {
    background-image: url(./weather-icons/storm.png);
}

.sunrise-sunset {
    background-image: url(./weather-icons/sunset.png);
}

.hourly-forecast-ticket-temp {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

/* Daily Forecast */

.daily-forecast-section {
    display: flex;
    justify-content: center;
}

.daily-forecast {
    background-color: rgba(28, 79, 118, 0.302);
    margin: 10px 0 50px;
    width: 90%;
    border-radius: 12px;
    opacity: 0;
}

.daily-forecast-header {
    color: rgba(28, 79, 118);
    font-size: .9rem;
    font-weight: 300;
    margin: 2px 7px 2px 7px;
    border-bottom: solid .5px rgba(28, 79, 118);
}

.daily-forecast-ticket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: .9rem;
    font-weight: 300;
    margin: 5px 10px;
}

.daily-forecast-ticket-day {
    width: 2rem;
}

.daily-forecast-ticket-icon {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 40px;
    width: 30px;
}

.daily-forecast-ticket-min-temp {
    color: rgba(28, 79, 118);
}

.clear-sky {
    background-image: url(./weather-icons/sun.png);
}

.partially-cloudy {
    background-image: url(./weather-icons/partially-cloudy.png);
}

.cloudy {
    background-image: url(./weather-icons/cloudy.png);
}

.raining {
    background-image: url(./weather-icons/raining.png);
}

.snowing {
    background-image: url(./weather-icons/snowing.png);
}

.storm {
    background-image: url(./weather-icons/storm.png);
}

